@font-face {
  font-family: 'dingzitiblod';
  src: url('/static/font/DIN-Bold.otf');
}

@font-face {
  font-family: 'dingziti';
  src: url('/static/font/DIN-Light.otf');
}

@font-face {
  font-family: 'fangzhengjianti';
  src: url('/static/font/fangzhengjianti.ttf');
}

@font-face {
  font-family: 'jingdianxingshu';
  src: url('/static/font/JINGDIANXINGSHU.otf');
}
