@font-face {
  font-family: 'dingzitiblod';
  src: url("http://static.lejias.cn/lejia030d68d3219081dac300f4fe7d70ee4a.otf"); }
@font-face {
  font-family: 'dingziti';
  src: url("http://static.lejias.cn/lejia7e25abfb1fff435a674925ec3354693a.otf"); }
@font-face {
  font-family: 'fangzhengjianti';
  src: url("http://static.lejias.cn/lejia0cd2cb2d2b9ab930c7e4748708cb75c3.ttf"); }
@font-face {
  font-family: 'jingdianxingshu';
  src: url("http://static.lejias.cn/lejia8e27268f1d507f9ea63b4bfd47a06404.otf"); }
.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.items-around {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis; }

#houseResource > div.houseResource .search-type {
  text-align: center;
  border-top: 1px solid #F4F4F4;
  margin-top: 10px;
  padding: .2rem .3rem 0 .3rem; }
  #houseResource > div.houseResource .search-type span {
    font-size: .3rem;
    width: 100%; }
    #houseResource > div.houseResource .search-type span .van-icon {
      vertical-align: middle;
      font-size: .3rem; }
    #houseResource > div.houseResource .search-type span:not(:last-child) {
      margin-right: 4px; }
#houseResource > div.houseResource .search-content {
  height: 300px; }
#houseResource > div.houseResource .top-search {
  padding: .3rem 0;
  border-top: .1rem solid #F4F4F4;
  border-bottom: .1rem solid #F4F4F4; }
  #houseResource > div.houseResource .top-search .searchInput {
    padding: 0 .3rem; }
#houseResource > div.houseResource .main-house-list div.house {
  padding: .3rem;
  min-height: 100px;
  border-bottom: 1px dashed #F2F2F2;
  background-color: white;
  display: flex; }
  #houseResource > div.houseResource .main-house-list div.house .leftPic {
    width: 2.2rem;
    height: 2.2rem;
    position: relative; }
    #houseResource > div.houseResource .main-house-list div.house .leftPic img {
      width: 100%;
      height: 100%;
      border-radius: 4px; }
    #houseResource > div.houseResource .main-house-list div.house .leftPic a {
      min-width: 15pt;
      min-height: 35pt;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      letter-spacing: 1px;
      line-height: 15pt;
      padding: 3px 0;
      border-radius: 0 4px 0 8px;
      text-align: center;
      font-family: 'dingzitiblod';
      font-size: .25rem; }
    #houseResource > div.houseResource .main-house-list div.house .leftPic .status1 {
      background-color: #E53A36; }
    #houseResource > div.houseResource .main-house-list div.house .leftPic .status2 {
      background-color: #FFB205; }
    #houseResource > div.houseResource .main-house-list div.house .leftPic .status3 {
      background-color: #00ACC1; }
    #houseResource > div.houseResource .main-house-list div.house .leftPic .status4 {
      background-color: #7CB342; }
  #houseResource > div.houseResource .main-house-list div.house .rightInfo {
    flex: 1;
    margin-left: .3rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    #houseResource > div.houseResource .main-house-list div.house .rightInfo h2.house-name {
      font-family: 'dingzitiblod'; }
      #houseResource > div.houseResource .main-house-list div.house .rightInfo h2.house-name a.notice {
        display: inline-block;
        width: 18px;
        height: 16px;
        vertical-align: top; }
      #houseResource > div.houseResource .main-house-list div.house .rightInfo h2.house-name a.notice2 {
        background: url("../../../assets/image/houseResource/hs.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #houseResource > div.houseResource .main-house-list div.house .rightInfo h2.house-name a.notice3 {
        background: url("../../../assets/image/houseResource/gantan-cheng.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #houseResource > div.houseResource .main-house-list div.house .rightInfo h2.house-name a.notice4 {
        background: url("../../../assets/image/houseResource/gantan-hong.png") no-repeat scroll center;
        background-size: 100% 100%; }
    #houseResource > div.houseResource .main-house-list div.house .rightInfo div.info {
      display: flex;
      justify-content: space-around;
      padding: .1rem 0; }
      #houseResource > div.houseResource .main-house-list div.house .rightInfo div.info a {
        font-family: 'dingzitiblod';
        color: #808080;
        font-size: .23rem; }
      #houseResource > div.houseResource .main-house-list div.house .rightInfo div.info i {
        width: 0;
        height: 12px;
        border-right: 1px dashed #808080;
        margin: 0 5px;
        position: relative;
        top: 2px; }
    #houseResource > div.houseResource .main-house-list div.house .rightInfo div.tag a {
      font-size: .2rem;
      padding: 3px 3px;
      border-right: 3px;
      font-family: 'dingzitiblod'; }
      #houseResource > div.houseResource .main-house-list div.house .rightInfo div.tag a:not(:last-child) {
        margin-right: 5px; }
    #houseResource > div.houseResource .main-house-list div.house .rightInfo div.tag a.tag1 {
      background-color: #F0F0F0;
      color: #808080; }
    #houseResource > div.houseResource .main-house-list div.house .rightInfo div.tag a.tag2 {
      color: #EE7B78;
      background-color: #FFF2F2; }
    #houseResource > div.houseResource .main-house-list div.house .rightInfo div.bottom {
      display: flex;
      /*justify-content: space-between;
      align-items: center;*/
      position: relative;
      width: 100%; }
      #houseResource > div.houseResource .main-house-list div.house .rightInfo div.bottom a {
        width: .3rem;
        height: .3rem;
        background: url("../../../assets/image/houseResource/fangwu.png") no-repeat scroll center;
        background-size: 100% 100%;
        margin-right: 5px;
        vertical-align: middle;
        position: relative;
        top: 3px; }
      #houseResource > div.houseResource .main-house-list div.house .rightInfo div.bottom h3, #houseResource > div.houseResource .main-house-list div.house .rightInfo div.bottom span {
        font-family: 'dingzitiblod'; }
      #houseResource > div.houseResource .main-house-list div.house .rightInfo div.bottom h3 {
        color: #808087; }
      #houseResource > div.houseResource .main-house-list div.house .rightInfo div.bottom span {
        font-size: .3rem;
        color: #EE7B78;
        position: absolute;
        right: 0;
        bottom: 0; }
  #houseResource > div.houseResource .main-house-list div.house:active {
    background-color: #F2F2F2; }
#houseResource > div.houseResource .main-house-list .noMore, #houseResource > div.houseResource .main-house-list .noData {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: .2rem;
  background-color: transparent; }
#houseResource > div.houseResource .filter-content {
  background-color: white;
  max-height: 400px; }
  #houseResource > div.houseResource .filter-content .chooseBtn {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px; }
    #houseResource > div.houseResource .filter-content .chooseBtn p.choose-btn-item {
      margin-top: .2rem;
      padding: 0 .1rem;
      width: 25%;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      justify-content: center; }
      #houseResource > div.houseResource .filter-content .chooseBtn p.choose-btn-item b {
        width: 100%;
        padding: .2rem 0;
        text-align: center;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        border-radius: 1rem;
        background-color: #EEEDEE; }
      #houseResource > div.houseResource .filter-content .chooseBtn p.choose-btn-item div.van-cell, #houseResource > div.houseResource .filter-content .chooseBtn p.choose-btn-item div.van-field {
        width: 100%;
        padding: .1rem 0 .1rem .2rem;
        text-align: center;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        border-radius: 1rem;
        background-color: #EEEDEE; }
      #houseResource > div.houseResource .filter-content .chooseBtn p.choose-btn-item .choose {
        background-color: rgba(69, 112, 254, 0.1);
        color: #4570FE; }
  #houseResource > div.houseResource .filter-content .house-type > div {
    margin-bottom: 10px; }

.commonFooterTag {
  position: fixed;
  bottom: 0;
  height: 1.8rem;
  width: 100%;
  padding: .15rem .4rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: flex-end;
  background: url("../../../assets/image/common/commonfootertag.png") no-repeat scroll center;
  background-size: 100% 100%; }
  .commonFooterTag p {
    width: .6rem;
    height: .6rem; }
  .commonFooterTag .p-1 {
    background: url("../../../assets/image/home/tab_home1.png") no-repeat scroll center;
    background-size: 100% 100%; }
  .commonFooterTag .p-2 {
    background: url("../../../assets/image/home/tab_home2.png") no-repeat scroll center;
    background-size: 100% 100%; }
  .commonFooterTag .p-3 {
    background: url("../../../assets/image/home/tab_home3.png") no-repeat scroll center;
    background-size: 100% 100%; }
  .commonFooterTag .p-4 {
    background: url("../../../assets/image/home/tab_home4.png") no-repeat scroll center;
    background-size: 100% 100%; }
  .commonFooterTag .p-3 {
    background: url("../../../assets/image/home/tab_home_pre3.png") no-repeat scroll center;
    background-size: 100% 100%; }

/*# sourceMappingURL=index.css.map */
