@font-face {
  font-family: 'dingzitiblod';
  src: url("http://static.lejias.cn/lejia030d68d3219081dac300f4fe7d70ee4a.otf"); }
@font-face {
  font-family: 'dingziti';
  src: url("http://static.lejias.cn/lejia7e25abfb1fff435a674925ec3354693a.otf"); }
@font-face {
  font-family: 'fangzhengjianti';
  src: url("http://static.lejias.cn/lejia0cd2cb2d2b9ab930c7e4748708cb75c3.ttf"); }
@font-face {
  font-family: 'jingdianxingshu';
  src: url("http://static.lejias.cn/lejia8e27268f1d507f9ea63b4bfd47a06404.otf"); }
.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.items-around {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis; }

#toBeDoneList {
  background-color: #E6F4F9; }
  #toBeDoneList .listTop {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    height: 1rem;
    padding: 0 .3rem;
    background-color: #448aff; }
    #toBeDoneList .listTop div {
      display: flex;
      display: -webkit-flex;
      align-items: center; }
      #toBeDoneList .listTop div p {
        color: #FFFFFF; }
      #toBeDoneList .listTop div p + p {
        margin-left: .3rem; }
    #toBeDoneList .listTop .topSearch {
      width: .5rem;
      height: .5rem;
      background: url("../../../assets/image/common/searchyellow.png") no-repeat scroll center;
      background-size: 100% 100%; }
  #toBeDoneList .main div,
  #toBeDoneList .main p,
  #toBeDoneList .main h1,
  #toBeDoneList .main h2,
  #toBeDoneList .main h3 {
    font-family: "Microsoft YaHei UI"; }
  #toBeDoneList .main span,
  #toBeDoneList .main b {
    font-family: "dingziti"; }
  #toBeDoneList .main .finish,
  #toBeDoneList .main .noFinish {
    height: 100%; }
    #toBeDoneList .main .finish > div,
    #toBeDoneList .main .noFinish > div {
      padding-bottom: .88rem; }
  #toBeDoneList .main .noFinish .noFinishMain {
    width: 33.33%;
    padding: 0 .1rem;
    margin-top: .5rem; }
    #toBeDoneList .main .noFinish .noFinishMain > div {
      text-align: center;
      padding: .3rem .1rem;
      -webkit-border-radius: 0 0.3rem 0 0.3rem;
      -moz-border-radius: 0 0.3rem 0 0.3rem;
      border-radius: 0 0.3rem 0 0.3rem;
      height: 100%;
      background: #FFFFFF; }
      #toBeDoneList .main .noFinish .noFinishMain > div div {
        font-size: .24rem; }
      #toBeDoneList .main .noFinish .noFinishMain > div p {
        word-break: break-all; }
      #toBeDoneList .main .noFinish .noFinishMain > div .toBeDoneType {
        margin: .2rem 0 .2rem; }
      #toBeDoneList .main .noFinish .noFinishMain > div .surplus {
        margin: .2rem 0; }
      #toBeDoneList .main .noFinish .noFinishMain > div .progress {
        margin: 0 auto;
        width: 1.2rem;
        height: 1.2rem;
        background: #FFFFFF;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: flex;
        display: -webkit-flex;
        align-items: flex-end;
        overflow: hidden;
        position: relative; }
        #toBeDoneList .main .noFinish .noFinishMain > div .progress div {
          width: 100%;
          background-color: #448aff; }
          #toBeDoneList .main .noFinish .noFinishMain > div .progress div span {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: .5rem;
            font-weight: normal;
            -webkit-transform: translateY(-50%) translateX(-50%);
            -moz-transform: translateY(-50%) translateX(-50%);
            -ms-transform: translateY(-50%) translateX(-50%);
            -o-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%); }
            #toBeDoneList .main .noFinish .noFinishMain > div .progress div span b {
              font-size: .25rem;
              position: absolute;
              top: -.1rem;
              right: -.15rem; }
      #toBeDoneList .main .noFinish .noFinishMain > div .unit {
        position: relative;
        margin-right: .2rem;
        font-family: "dingzitiblod"; }
        #toBeDoneList .main .noFinish .noFinishMain > div .unit b {
          font-size: .25rem;
          position: absolute;
          top: -.1rem;
          right: -.2rem; }
    #toBeDoneList .main .noFinish .noFinishMain .mainTransform {
      -webkit-transform: translateY(-0.3rem);
      -moz-transform: translateY(-0.3rem);
      -ms-transform: translateY(-0.3rem);
      -o-transform: translateY(-0.3rem);
      transform: translateY(-0.3rem); }
  #toBeDoneList .main .finish .finishMain {
    margin: .2rem .2rem 0;
    background: #FFFFFF;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem; }
    #toBeDoneList .main .finish .finishMain > div {
      padding-bottom: .36rem;
      background: url("../../../assets/image/toBeDoneList/yiwanchengzhiwen.png") no-repeat scroll center;
      background-size: 100% 100%;
      background-position: right;
      background-size: contain; }
    #toBeDoneList .main .finish .finishMain .finish1 {
      padding-left: .3rem;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between; }
      #toBeDoneList .main .finish .finishMain .finish1 h1 {
        padding: .3rem 0;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis; }
      #toBeDoneList .main .finish .finishMain .finish1 span {
        min-width: 1.8rem;
        max-width: 1.8rem;
        height: .7rem;
        background: url("../../../assets/image/toBeDoneList/daibanyiwancheng.png") no-repeat scroll center;
        background-size: 100% 100%; }
    #toBeDoneList .main .finish .finishMain .finish2 {
      padding: 0 .3rem;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      align-items: flex-end; }
      #toBeDoneList .main .finish .finishMain .finish2 p {
        display: flex;
        display: -webkit-flex; }
        #toBeDoneList .main .finish .finishMain .finish2 p span {
          font-size: .24rem;
          padding: .1rem .2rem;
          background: #00ACC1;
          -webkit-border-radius: 1rem;
          -moz-border-radius: 1rem;
          border-radius: 1rem; }
      #toBeDoneList .main .finish .finishMain .finish2 div {
        white-space: nowrap;
        text-align: right; }
  #toBeDoneList .main .noMore,
  #toBeDoneList .main .noData {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .2rem;
    background-color: transparent; }
  #toBeDoneList .main .noData {
    height: 8rem; }
  #toBeDoneList .showAddPopup .addTitle {
    margin-top: 10%; }
  #toBeDoneList .showAddPopup .mainModule .module1,
  #toBeDoneList .showAddPopup .mainModule .module3 {
    width: 2.4rem;
    height: 2.4rem;
    right: 3rem; }
  #toBeDoneList .showAddPopup .mainModule .module2,
  #toBeDoneList .showAddPopup .mainModule .module5 {
    width: 2rem;
    height: 2rem; }
  #toBeDoneList .showAddPopup .mainModule .module1 {
    bottom: 60%;
    background-color: #FED836; }
    #toBeDoneList .showAddPopup .mainModule .module1 i {
      background: url("../../../assets/image/toBeDoneList/shoufangdaikan.png") no-repeat scroll center;
      background-size: 100% 100%; }
  #toBeDoneList .showAddPopup .mainModule .module2 {
    bottom: 40%;
    right: 4.7rem;
    color: #FFFFFF;
    background-color: #001A6E; }
    #toBeDoneList .showAddPopup .mainModule .module2 i {
      background: url("../../../assets/image/toBeDoneList/zufangdaikan.png") no-repeat scroll center;
      background-size: 100% 100%; }
  #toBeDoneList .showAddPopup .mainModule .module3 {
    bottom: 30%;
    z-index: -1;
    background-color: #9CE054; }
    #toBeDoneList .showAddPopup .mainModule .module3 i {
      background: url("../../../assets/image/toBeDoneList/baojierenwu.png") no-repeat scroll center;
      background-size: 100% 100%; }
  #toBeDoneList .showAddPopup .mainModule .module4 {
    width: .6rem;
    height: .6rem;
    bottom: 22%;
    left: 1.5rem;
    background-color: #001A6E; }
  #toBeDoneList .showAddPopup .mainModule .module5 {
    left: 1.8rem;
    bottom: 6%;
    background-color: #00ACC1; }
    #toBeDoneList .showAddPopup .mainModule .module5 i {
      height: .7rem;
      background: url("../../../assets/image/toBeDoneList/weixiurenwu.png") no-repeat scroll center;
      background-size: 100% 100%; }
  #toBeDoneList .showAddPopup .popupBottom {
    height: .3rem;
    background: url("../../../assets/image/toBeDoneList/xinjianrenwudibu.png") no-repeat scroll center;
    background-size: 100% 100%; }
  #toBeDoneList .searchHigh {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .3rem;
    border-top: .1rem solid #F8F8F8; }
  #toBeDoneList .commonBtn {
    padding: .3rem 0; }
  #toBeDoneList .radioChecksLabel .radioChecks {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -.2rem; }
    #toBeDoneList .radioChecksLabel .radioChecks .contents {
      width: auto;
      margin-left: .2rem; }
      #toBeDoneList .radioChecksLabel .radioChecks .contents p {
        width: 100%;
        padding: .15rem .4rem; }
  #toBeDoneList .radioChecksLabel .radioChecks::after {
    content: '';
    flex: auto; }
  #toBeDoneList .radioChecksLabel3 label {
    display: inline-block;
    padding: .2rem .1rem; }
  #toBeDoneList .radioChecksLabel3 .contents3 {
    width: 100%; }
    #toBeDoneList .radioChecksLabel3 .contents3 .complete2 {
      width: 5%;
      margin: 0 2%;
      background-color: #fff; }
    #toBeDoneList .radioChecksLabel3 .contents3 input {
      background-color: #EEEDEE;
      height: .6rem;
      width: 45%;
      text-align: center;
      border-radius: 0.3rem; }
    #toBeDoneList .radioChecksLabel3 .contents3 span {
      margin: 0 .2rem; }

/*# sourceMappingURL=index.css.map */
