@import "../common";

@mixin examImg($n) {
  @include bgImage('../../../assets/image/exam/' + $n + '.png');
}




#exam {
  //common
  .color212121 {
    color: #212121;
  }
  .color4570FE {
    color: #4570FE;
  }
  .color8F8F8F {
    color: #8F8F8F;
  }
  .colorFF6C00 {
    color: #FF6C00;
  }

  .colorFED836 {
    color: #FED836;
  }



  .exam-container {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .top-banner {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;

      .banner {
        width: 100%;
        height: 2.7rem;
        @include examImg('banner@2x');
        overflow: visible;
        position: relative;

      }

      .search-bar {
        position: absolute;
        bottom: -.6rem;
        //height: .7rem;
        width: 90%;

        .input {
          background-color: white;
        }
      }
    }

    .list-container {
      width: 96%;
      text-align: center;
      /*display: flex;
      flex-direction: column;
      align-items: center;*/
      margin-top: .4rem;


      .my-exam {
        margin-top: .3rem;
        height: 2.6rem;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;

        .my-exam-top {
          height: 1rem;
          display: flex;
          align-items: center;
          padding: 0 .3rem;
          font-family: PingFangHK-Regular;

          .icon-exam {
            margin-right: .2rem;
            width: .4rem;
            height: .4rem;
            @include examImg('wodekaoshi');
          }
        }

        .my-exam-bottom {
          flex: 1;
          //height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding: 0 .2rem;

          .my-exam-item {
            height: 70%;
            width: 15%;
            display: flex;
            flex-direction: column;

            > div {
              height: 50%;
              display: flex;
              align-items: center;
              justify-content: center;

              &:first-child {
                font-family: DIN-Medium;
                font-size: .4rem;
              }

              &:last-child {
                color: #8F8F8F;
              }
            }
          }
        }
      }


      .latest-exam {

        margin: .3rem 0;
        //height: 5.6rem;
        background:linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
        display: flex;
        flex-direction: column;

        .latest-exam-top {
          height: 1rem;
          display: flex;
          align-items: center;
          padding: 0 .3rem;
          font-family: PingFangHK-Regular;

          .icon-latest-exam {
            margin-right: .2rem;
            width: .4rem;
            height: .4rem;
            @include examImg('zuixinkaoshi@3x');
          }
        }

        .latest-exam-bottom {
          overflow: hidden;
          overflow-x: auto;


          //height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: nowrap;
          padding: 0 .2rem;

          .latest-exam-item {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 42%;
            flex: 0 0 auto;
            height: 4.6rem;
            margin: 0.1rem;
            background:rgba(255,255,255,1);
            box-shadow:0px 10px 15px 0px rgba(216,221,237,1);
            border-radius:4px;
            position: relative;

            .item-badge {
              position: absolute;
              width: .3rem;
              height: .4rem;
              @include examImg('new@3x');
              top: 0;
              left: .2rem;
            }

            .item-center {
              justify-self: center;
              align-self: center;
              height: 3.4rem;
              width: 80%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: space-around;
              .latest-exam-tip1 {
                padding-top: .2rem;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                text-align: left;
              }
              .latest-exam-tip2 {
                width: 100%;
                background:rgba(235,241,255,1);
                border-radius:4px;
                color: #4570FE;
                font-family:PingFangHK-Light;
                font-size: .3rem;
                height: .5rem;
                line-height: .5rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .latest-exam-tip3 {
                padding-top: .7rem;
                text-align: left;
                color: #8F8F8F;
                font-size: .2rem;
              }
              .latest-exam-tip4 {
                font-size: .3rem;
                color: #4570FE;
                font-family: DIN-Medium;
                >span {
                  font-size: .42rem;
                  font-weight: 700;
                  margin-right: .1rem;
                }
              }

            }

            .item-badge-corner {
              position: absolute;
              right: 0;
              bottom: 0;
              height: .5rem;
              width: 1.4rem;
              @include examImg('矩形_copy12@3x');
              @include flex('flex-center');
            }
          }
        }

        .no-exam-tip {
          height: .7rem;
          line-height: .7rem;
          padding-left: .4rem;
          //justify-self: center;
        }
      }

      .exam-tabbar {
        height: .7rem;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .exam-tabbar-item {
          height: 100%;
          width: 20%;
          display: flex;
          align-items: center;
          justify-content: center;
          &.checked {
            position: relative;
            &::before {
              display: block;
              content: '';
              position: absolute;
              width: .3rem;
              height: 2px;
              bottom: 0;
              @include examImg('矩形_copy11@2x');
            }
          }
        }

      }


      .item {
        //width: 90%;
        height: 2.4rem;
        background-color: #FFFFFF;
        margin: .1rem .3rem;
        flex: 1 0 auto;

        display: flex;
        flex-direction: column;

        .item-top {
          width: 100%;
          height: .6rem;
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;
        }

        .item-middle {
          width: 100%;
          height: .8rem;
          display: flex;
          border-bottom: 1px dashed #F2F2F2;

          align-items: center;

          .item-middle-left {
            width: 40%;
            display: flex;
            align-items: center;

            .item-middle-left__status {
              font-family: PingFangHK-Regular;
              color: #4570FE;
              background-color: #ECF0FE;
              padding: 2px 3px;
              margin-right: 5px;

              &.status0 {
                color: #FD9007;
                background-color: #FEF3E6;
              }

              &.status1 {
                color: #FF6C00;
                background-color: #FEF0E5;
              }

              &.status2 {
                color: #8F8F8F;
                background-color: #F4F4F4;
              }

            }

            .item-middle-left__data {
              color: #8F8F8F;
              font-family: PingFangHK-Regular;
            }
          }

          .item-middle-right {
            width: 60%;
            text-align: right;
            font-size: .25rem;
            color: #D2D2D2;
          }

        }

        .item-bottom {
          width: 100%;
          height: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          //padding: 0.3rem;
          > div {
            width: 33%;
            height: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;

            /*&:nth-child(1) {
              justify-content: flex-start;
            }
            &:nth-child(3) {
              justify-content: flex-end;
            }*/

            .icon {
              width: .3rem;
              height: .3rem;

              &.icon-edit {
                //@include examImg('bianjiwenjuan@2x');
              }

              &.icon-view {
                //@include examImg('chakanshuju@2x');
              }

              &.icon-more {
                //@include examImg('gengduo@2x');
              }
            }

            .item-icon-desc {
              font-family: PingFangHK-Regular;
              color: #8F8F8F;
              padding-left: .1rem;
            }
          }
        }


      }

      .item-no-authority {
        height: 2.5rem;
        background-color: #FFFFFF;
        margin: .1rem .3rem;
        flex: 1 0 auto;

        display: flex;
        flex-direction: column;
        position: relative;

        .item-top {
          width: 100%;
          height: .6rem;
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;
        }

        .item-middle {
          width: 100%;
          height: .8rem;
          display: flex;
          //border-bottom: 1px dashed #F2F2F2;

          align-items: center;

          .item-middle-inner {
            width: 100%;
            display: flex;
            align-items: center;

            .item-middle-left__status {
              width: 1.5rem;
              font-family: PingFangHK-Regular;
              color: #4570FE;
              background-color: #ECF0FE;
              padding: 2px 3px;
              margin-right: 5px;

              &.status0 {
                color: #FD9007;
                background-color: #FEF3E6;
              }

              &.status1 {
                color: #FF6C00;
                background-color: #FEF0E5;
              }

              &.status2 {
                color: #8F8F8F;
                background-color: #F4F4F4;
              }

            }

            .latest-exam-tip2 {
              width: 2rem;
              background:rgba(235,241,255,1);
              border-radius:4px;
              color: #4570FE;
              font-family:PingFangHK-Light;
              font-size: .3rem;
              height: .5rem;
              line-height: .5rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }


        }

        .item-bottom {
          width: 100%;
          height: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          //padding: 0.3rem;
          .item-bottom-left {
            color: #D2D2D2;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }

          .item-bottom-right {
            color: #FFFFFF;
            width: 30%;
            height: .6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            @include examImg('矩形_copy3@3x');
          }

          .item-exam-score {
            color: #FE6725;
            font-family: DIN-Medium;
            padding-right: .1rem;
            >span {
              &:nth-child(1) {
                font-size: .45rem;
                font-family: DIN-Medium;
                padding-right: .1rem;
              }
              &:nth-child(2) {
                font-size: .4rem;
                font-family: PingFangHK-Regular;
              }
            }
          }


        }

        .miss-exam {
          position: absolute;
          bottom: .2rem;
          right: .1rem;
          width: 1.6rem;
          height: .8rem;
          @include examImg('quekao@3x');
        }


      }

      .bottom-tip {
        color: #8F8F8F;
        padding: .3rem 1rem;
      }

      .item-operate {
        background-color: #E5E5E5;
        height: 2.4rem;
        display: flex;
        align-items: center;

        .operate-container {
          width: 100%;
          height: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-around;

          > div {
            display: flex;
            flex-direction: column;
            width: 33%;
            height: 90%;
            justify-content: center;
            align-items: center;

            .icon {
              width: .3rem;
              height: .3rem;

              &.icon-stop {
                //@include examImg('zanting@2x');
              }

              &.icon-preview {
                //@include examImg('yulan@2x');
              }

              &.icon-delete {
                //@include examImg('shanchuxuanxiang@2x');
              }
            }

            > :last-child {
              margin-top: .05rem;
              font-size: .2rem;
              font-family: PingFangHK-Regular;
            }
          }
        }
      }
    }

    .fix-block {
      flex: none;
      height: 70px;
      width: 100%;
    }


    .add-button-circle {
      position: fixed;
      bottom: 2.5rem;
      right: .3rem;
      width: 1rem;
      height: 1rem;
      //@include examImg('tianjia@2x');
    }
  }
}
