@charset "UTF-8";
@font-face {
  font-family: 'dingzitiblod';
  src: url("http://static.lejias.cn/lejia030d68d3219081dac300f4fe7d70ee4a.otf"); }
@font-face {
  font-family: 'dingziti';
  src: url("http://static.lejias.cn/lejia7e25abfb1fff435a674925ec3354693a.otf"); }
@font-face {
  font-family: 'fangzhengjianti';
  src: url("http://static.lejias.cn/lejia0cd2cb2d2b9ab930c7e4748708cb75c3.ttf"); }
@font-face {
  font-family: 'jingdianxingshu';
  src: url("http://static.lejias.cn/lejia8e27268f1d507f9ea63b4bfd47a06404.otf"); }
.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.items-around {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }

#exam .color212121 {
  color: #212121; }
#exam .color4570FE {
  color: #4570FE; }
#exam .color8F8F8F {
  color: #8F8F8F; }
#exam .colorFF6C00 {
  color: #FF6C00; }
#exam .colorFED836 {
  color: #FED836; }
#exam .exam-container {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #exam .exam-container .top-banner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center; }
    #exam .exam-container .top-banner .banner {
      width: 100%;
      height: 2.7rem;
      background: url("../../../assets/image/exam/banner@2x.png") no-repeat scroll center;
      background-size: 100% 100%;
      overflow: visible;
      position: relative; }
    #exam .exam-container .top-banner .search-bar {
      position: absolute;
      bottom: -.6rem;
      width: 90%; }
      #exam .exam-container .top-banner .search-bar .input {
        background-color: white; }
  #exam .exam-container .list-container {
    width: 96%;
    text-align: center;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    margin-top: .4rem; }
    #exam .exam-container .list-container .my-exam {
      margin-top: .3rem;
      height: 2.6rem;
      background-color: #FFFFFF;
      display: flex;
      flex-direction: column; }
      #exam .exam-container .list-container .my-exam .my-exam-top {
        height: 1rem;
        display: flex;
        align-items: center;
        padding: 0 .3rem;
        font-family: PingFangHK-Regular; }
        #exam .exam-container .list-container .my-exam .my-exam-top .icon-exam {
          margin-right: .2rem;
          width: .4rem;
          height: .4rem;
          background: url("../../../assets/image/exam/changci@2x.png") no-repeat scroll center;
          background-size: 100% 100%; }
      #exam .exam-container .list-container .my-exam .my-exam-bottom {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 .2rem; }
        #exam .exam-container .list-container .my-exam .my-exam-bottom .my-exam-item {
          height: 70%;
          width: 15%;
          display: flex;
          flex-direction: column; }
          #exam .exam-container .list-container .my-exam .my-exam-bottom .my-exam-item > div {
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center; }
            #exam .exam-container .list-container .my-exam .my-exam-bottom .my-exam-item > div:first-child {
              font-family: DIN-Medium;
              font-size: .4rem; }
            #exam .exam-container .list-container .my-exam .my-exam-bottom .my-exam-item > div:last-child {
              color: #8F8F8F; }
    #exam .exam-container .list-container .latest-exam {
      margin: .3rem 0;
      height: 5.6rem;
      background: linear-gradient(180deg, white 0%, #f2f2f2 100%);
      display: flex;
      flex-direction: column; }
      #exam .exam-container .list-container .latest-exam .latest-exam-top {
        height: 1rem;
        display: flex;
        align-items: center;
        padding: 0 .3rem;
        font-family: PingFangHK-Regular; }
        #exam .exam-container .list-container .latest-exam .latest-exam-top .icon-latest-exam {
          margin-right: .2rem;
          width: .4rem;
          height: .4rem;
          background: url("../../../assets/image/exam/zuixinkaoshi@3x.png") no-repeat scroll center;
          background-size: 100% 100%; }
      #exam .exam-container .list-container .latest-exam .latest-exam-bottom {
        overflow: hidden;
        overflow-x: auto;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: 0 .2rem; }
        #exam .exam-container .list-container .latest-exam .latest-exam-bottom .latest-exam-item {
          display: flex;
          justify-content: center;
          flex-direction: column;
          width: 42%;
          flex: 0 0 auto;
          height: 100%;
          margin: 0.1rem;
          background: white;
          box-shadow: 0px 10px 15px 0px #d8dded;
          border-radius: 4px;
          position: relative; }
          #exam .exam-container .list-container .latest-exam .latest-exam-bottom .latest-exam-item .item-badge {
            position: absolute;
            width: .3rem;
            height: .4rem;
            background: url("../../../assets/image/exam/new@3x.png") no-repeat scroll center;
            background-size: 100% 100%;
            top: 0;
            left: .2rem; }
          #exam .exam-container .list-container .latest-exam .latest-exam-bottom .latest-exam-item .item-center {
            justify-self: center;
            align-self: center;
            height: 3.4rem;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around; }
            #exam .exam-container .list-container .latest-exam .latest-exam-bottom .latest-exam-item .item-center .latest-exam-tip1 {
              padding-top: .2rem;
              -webkit-line-clamp: 2;
              line-clamp: 2;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-box-orient: vertical;
              display: -webkit-box;
              text-align: left; }
            #exam .exam-container .list-container .latest-exam .latest-exam-bottom .latest-exam-item .item-center .latest-exam-tip2 {
              width: 100%;
              background: #ebf1ff;
              border-radius: 4px;
              color: #4570FE;
              font-family: PingFangHK-Light;
              font-size: .3rem;
              height: .5rem;
              line-height: .5rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis; }
            #exam .exam-container .list-container .latest-exam .latest-exam-bottom .latest-exam-item .item-center .latest-exam-tip3 {
              padding-top: .7rem;
              text-align: left;
              color: #8F8F8F;
              font-size: .2rem; }
            #exam .exam-container .list-container .latest-exam .latest-exam-bottom .latest-exam-item .item-center .latest-exam-tip4 {
              font-size: .3rem;
              color: #4570FE;
              font-family: DIN-Medium; }
              #exam .exam-container .list-container .latest-exam .latest-exam-bottom .latest-exam-item .item-center .latest-exam-tip4 > span {
                font-size: .42rem;
                font-weight: 700;
                margin-right: .1rem; }
          #exam .exam-container .list-container .latest-exam .latest-exam-bottom .latest-exam-item .item-badge-corner {
            position: absolute;
            right: 0;
            bottom: 0;
            height: .5rem;
            width: 1.4rem;
            background: url("../../../assets/image/exam/鐭╁舰_copy12@3x.png") no-repeat scroll center;
            background-size: 100% 100%;
            display: flex;
            display: -webkit-flex;
            align-items: center;
            justify-content: center; }
    #exam .exam-container .list-container .exam-tabbar {
      height: .7rem;
      background-color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: space-around; }
      #exam .exam-container .list-container .exam-tabbar .exam-tabbar-item {
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center; }
        #exam .exam-container .list-container .exam-tabbar .exam-tabbar-item.checked {
          position: relative; }
          #exam .exam-container .list-container .exam-tabbar .exam-tabbar-item.checked::before {
            display: block;
            content: '';
            position: absolute;
            width: .3rem;
            height: 2px;
            bottom: 0;
            background: url("../../../assets/image/exam/鐭╁舰_copy11@2x.png") no-repeat scroll center;
            background-size: 100% 100%; }
    #exam .exam-container .list-container .item {
      height: 2.4rem;
      background-color: #FFFFFF;
      margin: .1rem .3rem;
      flex: 1 0 auto;
      display: flex;
      flex-direction: column; }
      #exam .exam-container .list-container .item .item-top {
        width: 100%;
        height: .6rem;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start; }
      #exam .exam-container .list-container .item .item-middle {
        width: 100%;
        height: .8rem;
        display: flex;
        border-bottom: 1px dashed #F2F2F2;
        align-items: center; }
        #exam .exam-container .list-container .item .item-middle .item-middle-left {
          width: 40%;
          display: flex;
          align-items: center; }
          #exam .exam-container .list-container .item .item-middle .item-middle-left .item-middle-left__status {
            font-family: PingFangHK-Regular;
            color: #4570FE;
            background-color: #ECF0FE;
            padding: 2px 3px;
            margin-right: 5px; }
            #exam .exam-container .list-container .item .item-middle .item-middle-left .item-middle-left__status.status0 {
              color: #FD9007;
              background-color: #FEF3E6; }
            #exam .exam-container .list-container .item .item-middle .item-middle-left .item-middle-left__status.status1 {
              color: #FF6C00;
              background-color: #FEF0E5; }
            #exam .exam-container .list-container .item .item-middle .item-middle-left .item-middle-left__status.status2 {
              color: #8F8F8F;
              background-color: #F4F4F4; }
          #exam .exam-container .list-container .item .item-middle .item-middle-left .item-middle-left__data {
            color: #8F8F8F;
            font-family: PingFangHK-Regular; }
        #exam .exam-container .list-container .item .item-middle .item-middle-right {
          width: 60%;
          text-align: right;
          font-size: .25rem;
          color: #D2D2D2; }
      #exam .exam-container .list-container .item .item-bottom {
        width: 100%;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        #exam .exam-container .list-container .item .item-bottom > div {
          width: 33%;
          height: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          /*&:nth-child(1) {
            justify-content: flex-start;
          }
          &:nth-child(3) {
            justify-content: flex-end;
          }*/ }
          #exam .exam-container .list-container .item .item-bottom > div .icon {
            width: .3rem;
            height: .3rem; }
          #exam .exam-container .list-container .item .item-bottom > div .item-icon-desc {
            font-family: PingFangHK-Regular;
            color: #8F8F8F;
            padding-left: .1rem; }
    #exam .exam-container .list-container .item-no-authority {
      height: 2.5rem;
      background-color: #FFFFFF;
      margin: .1rem .3rem;
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      position: relative; }
      #exam .exam-container .list-container .item-no-authority .item-top {
        width: 100%;
        height: .6rem;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start; }
      #exam .exam-container .list-container .item-no-authority .item-middle {
        width: 100%;
        height: .8rem;
        display: flex;
        align-items: center; }
        #exam .exam-container .list-container .item-no-authority .item-middle .item-middle-inner {
          width: 100%;
          display: flex;
          align-items: center; }
          #exam .exam-container .list-container .item-no-authority .item-middle .item-middle-inner .item-middle-left__status {
            width: 1.5rem;
            font-family: PingFangHK-Regular;
            color: #4570FE;
            background-color: #ECF0FE;
            padding: 2px 3px;
            margin-right: 5px; }
            #exam .exam-container .list-container .item-no-authority .item-middle .item-middle-inner .item-middle-left__status.status0 {
              color: #FD9007;
              background-color: #FEF3E6; }
            #exam .exam-container .list-container .item-no-authority .item-middle .item-middle-inner .item-middle-left__status.status1 {
              color: #FF6C00;
              background-color: #FEF0E5; }
            #exam .exam-container .list-container .item-no-authority .item-middle .item-middle-inner .item-middle-left__status.status2 {
              color: #8F8F8F;
              background-color: #F4F4F4; }
          #exam .exam-container .list-container .item-no-authority .item-middle .item-middle-inner .latest-exam-tip2 {
            width: 2rem;
            background: #ebf1ff;
            border-radius: 4px;
            color: #4570FE;
            font-family: PingFangHK-Light;
            font-size: .3rem;
            height: .5rem;
            line-height: .5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
      #exam .exam-container .list-container .item-no-authority .item-bottom {
        width: 100%;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        #exam .exam-container .list-container .item-no-authority .item-bottom .item-bottom-left {
          color: #D2D2D2;
          width: 70%;
          display: flex;
          align-items: center;
          justify-content: flex-start; }
        #exam .exam-container .list-container .item-no-authority .item-bottom .item-bottom-right {
          color: #FFFFFF;
          width: 30%;
          height: .6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background: url("../../../assets/image/exam/鐭╁舰_copy3@3x.png") no-repeat scroll center;
          background-size: 100% 100%; }
      #exam .exam-container .list-container .item-no-authority .miss-exam {
        position: absolute;
        bottom: .2rem;
        right: .1rem;
        width: 1.6rem;
        height: .8rem;
        background: url("../../../assets/image/exam/quekao@3x.png") no-repeat scroll center;
        background-size: 100% 100%; }
    #exam .exam-container .list-container .bottom-tip {
      color: #8F8F8F;
      padding: .3rem 1rem; }
    #exam .exam-container .list-container .item-operate {
      background-color: #E5E5E5;
      height: 2.4rem;
      display: flex;
      align-items: center; }
      #exam .exam-container .list-container .item-operate .operate-container {
        width: 100%;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around; }
        #exam .exam-container .list-container .item-operate .operate-container > div {
          display: flex;
          flex-direction: column;
          width: 33%;
          height: 90%;
          justify-content: center;
          align-items: center; }
          #exam .exam-container .list-container .item-operate .operate-container > div .icon {
            width: .3rem;
            height: .3rem; }
          #exam .exam-container .list-container .item-operate .operate-container > div > :last-child {
            margin-top: .05rem;
            font-size: .2rem;
            font-family: PingFangHK-Regular; }
  #exam .exam-container .fix-block {
    flex: none;
    height: 70px;
    width: 100%; }
  #exam .exam-container .add-button-circle {
    position: fixed;
    bottom: 2.5rem;
    right: .3rem;
    width: 1rem;
    height: 1rem; }

/*# sourceMappingURL=index.css.map */
